* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header, .input-wrapper, .output-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper, .output-wrapper {
    margin: 50px 0;
}

.header {
    background-color: #D4AA7D;
    padding: 20px;
}

.sub-wrapper {
    border: 1px solid black;
    width: 250px;
}